/* GLOBAL */

:root {

}

* {
    font-family: "poppins";
    margin: 0px;
    padding: 0px;
}

/* NAV */

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 15px;
}

.nav-fixed img {
    width: 100px;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
